#el3-component-wrapper{
  margin: auto;
  grid-gap: 2px;
  max-width: 75vw;
  display: grid;
  grid-template-areas: 
  "logo banner ."
  ". cop cop"
  " . services ."
}

#el3-logo-component-wrapper{
    grid-area: logo;
}

#el3-banner-component-wrapper{
  grid-area: banner;
}

#el3-component-copy-wrapper{
  margin-top: 15px;
  text-align: left;
  grid-area: cop;
}

#el3-services-card-component-wrapper{
  grid-area: services;
}
