#el3-banner-wrapper{
  padding: 2px;
  display: grid;
  /* background: lightpink;  */
  align-items: center;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "etoe"
  "hospitality"
  "specialists";
}

#el3-banner-e2e-wrapper{
  border-top: solid thin black;
  font-size: 2em;
  grid-area: etoe;
}

#el3-banner-hospitality-wrapper{
  font-size: 4em;
  font-weight: 600;
  grid-area: hospitality;
  color: white;
}

#el3-banner-specialists-wrapper{
  border-bottom: solid thin black;
  font-size: 2em;
  grid-area: specialists;
}