#el3-banner-wrapper{
  padding: 2px;
  display: grid;
  /* background: lightpink;  */
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: 
  "e2e"
  "hospitality"
  "specialists";
}

#el3-banner-e2e-wrapper{
  border-top: solid thin black;
  justify-self: stretch;
  font-size: 2em;
  grid-area: e2e;
}

#el3-banner-hospitality-wrapper{
  font-size: 4em;
  font-weight: 600;
  grid-area: hospitality;
  color: white;
}

#el3-banner-specialists-wrapper{
  border-bottom: solid thin black;
  font-size: 2em;
  grid-area: specialists;
}