#el3-logo-wrapper{
  display: flex;
  background-color: black;
  color: rgb(161,200,179);
  box-shadow: none;
  justify-content: center;
}

#el3-logo-text-wrapper{
  padding: 2px;
  display: grid;
  grid-template-columns: 1fr auto 2fr 1fr;
  grid-template-areas: 
  ". . . num"
  ". el el ."
  "con con con con";
  /* background: lightpink; */
}

#el3-logo-el-wrapper{
  font-size: 3em;
  font-weight: bolder;
  grid-area: el;
}

#el3-logo-3-wrapper{
  align-items: flex-start;
  font-size: 2em;
  font-weight: bolder;
  grid-area: num;
}

#el3-logo-consultants-wrapper{
  padding: 3px;
  text-align: center;
  grid-area: con;
}